---
version: "3.8"
services:
{% if not use_external_db and inventory_hostname in groups['db'] %}
  # Databases
  {{ compose_dbs | to_nice_yaml(indent=2) | indent(2) }}
{%- endif %}

  api:
    container_name: api
    image: {{ docker_api_image }}:{{ docker_api_tag }}
    expose:
      - 8000
    entrypoint: 'tail -f /dev/null'
    volumes:
      - {{ bimdata_docker_volume_path }}/web/static/api:/opt/statics:rw
{% if not swift_enabled | bool %}
      - {{ bimdata_docker_volume_path }}/web/static/api_storage:/opt/storage:rw
{% endif %}
{% if tls_enabled  | bool %}
      - {{ bimdata_docker_volume_path }}/ca.crt:/opt/onprem-ca.crt:ro
{% endif %}
    environment:
      - VIRTUAL_HOST={{ api_dns_name }}
      - ENV={{ app_env }}
      - SECRET_KEY={{ api_secret_key }}
      - DB_HOST={{ db_api_host }}
      - DB_PORT={{ db_api_port }}
      - DB_NAME={{ db_api_name }}
      - DB_USER={{ db_api_user }}
      - DB_PASSWORD={{ db_api_password }}
      - CA_CERT=/opt/onprem-ca.crt
    restart: unless-stopped
{% if docker_use_extra_hosts | bool %}
    extra_hosts: {{ docker_extra_hosts | to_yaml }}
{% endif %}
    depends_on:
{% if not use_external_db and inventory_hostname in groups['db'] %}
      api-db:
        condition: service_healthy
{% endif %}
 