workers-export:
  image: {{ docker_workers_export_image }}:{{ docker_workers_export_tag }}
  deploy:
    replicas: {{ workers_export_instance }}
    resources:
      limits:
        cpus: "{{ workers_export_cpu }}"
        memory: "{{ workers_export_ram }}"
  environment:
    - WORKER_SCRIPT=workers.export
    - RABBITMQ_HOST={{ rabbitmq_host }}
    - RABBITMQ_PORT={{ rabbitmq_port }}
    - RABBITMQ_USER={{ rabbitmq_user }}
    - RABBITMQ_PASSWORD={{ rabbitmq_password }}
    - API_URL={{ urls['api'] }}
    - ENV={{ app_env }}
    - MASTER_TOKEN={{ master_token }}
    - CPU_ALLOCATED={{ workers_export_cpu }}
    - TIMEOUT={{ workers_export_task_timeout }}
{% if tls_custom_ca | bool %}
    - CA_CERT=/opt/onprem-ca.crt
  volumes:
    - {{ bimdata_docker_volume_path }}/ca.crt:/opt/onprem-ca.crt:ro
{% endif %}
  restart: unless-stopped
{% if docker_use_extra_hosts | bool %}
  extra_hosts: {{ docker_extra_hosts | to_yaml }}
{% endif %}

workers-gltf:
  image: {{ docker_workers_gltf_image }}:{{ docker_workers_gltf_tag }}
  deploy:
    replicas: {{ workers_gltf_instance }}
    resources:
      limits:
        cpus: "{{ workers_gltf_cpu }}"
        memory: "{{ workers_gltf_ram }}"
  environment:
    - WORKER_SCRIPT=workers.gltf
    - RABBITMQ_HOST={{ rabbitmq_host }}
    - RABBITMQ_PORT={{ rabbitmq_port }}
    - RABBITMQ_USER={{ rabbitmq_user }}
    - RABBITMQ_PASSWORD={{ rabbitmq_password }}
    - API_URL={{ urls['api'] }}
    - ENV={{ app_env }}
    - MASTER_TOKEN={{ master_token }}
    - CPU_ALLOCATED={{ workers_gltf_cpu }}
    - TIMEOUT={{ workers_gltf_task_timeout }}
{% if tls_custom_ca | bool %}
    - CA_CERT=/opt/onprem-ca.crt
  volumes:
    - {{ bimdata_docker_volume_path }}/ca.crt:/opt/onprem-ca.crt:ro
{% endif %}
  restart: unless-stopped
{% if docker_use_extra_hosts | bool %}
  extra_hosts: {{ docker_extra_hosts | to_yaml }}
{% endif %}

workers-extract:
  image: {{ docker_workers_extract_image }}:{{ docker_workers_extract_tag }}
  deploy:
    replicas: {{ workers_extract_instance }}
    resources:
      limits:
        cpus: "{{ workers_extract_cpu }}"
        memory: "{{ workers_extract_ram }}"
  environment:
    - WORKER_SCRIPT=workers.extract
    - RABBITMQ_HOST={{ rabbitmq_host }}
    - RABBITMQ_PORT={{ rabbitmq_port }}
    - RABBITMQ_USER={{ rabbitmq_user }}
    - RABBITMQ_PASSWORD={{ rabbitmq_password }}
    - API_URL={{ urls['api'] }}
    - ENV={{ app_env }}
    - MASTER_TOKEN={{ master_token }}
    - CPU_ALLOCATED={{ workers_extract_cpu }}
    - TIMEOUT={{ workers_extract_task_timeout }}
{% if tls_custom_ca | bool %}
    - CA_CERT=/opt/onprem-ca.crt
  volumes:
    - {{ bimdata_docker_volume_path }}/ca.crt:/opt/onprem-ca.crt:ro
{% endif %}
  restart: unless-stopped
{% if docker_use_extra_hosts | bool %}
  extra_hosts: {{ docker_extra_hosts | to_yaml }}
{% endif %}

workers-svg:
  image: {{ docker_workers_svg_image }}:{{ docker_workers_svg_tag }}
  deploy:
    replicas: {{ workers_svg_instance }}
    resources:
      limits:
        cpus: "{{ workers_svg_cpu }}"
        memory: "{{ workers_svg_ram }}"
  environment:
    - WORKER_SCRIPT=workers.svg
    - RABBITMQ_HOST={{ rabbitmq_host }}
    - RABBITMQ_PORT={{ rabbitmq_port }}
    - RABBITMQ_USER={{ rabbitmq_user }}
    - RABBITMQ_PASSWORD={{ rabbitmq_password }}
    - API_URL={{ urls['api'] }}
    - ENV={{ app_env }}
    - MASTER_TOKEN={{ master_token }}
    - CPU_ALLOCATED={{ workers_svg_cpu }}
    - TIMEOUT={{ workers_svg_task_timeout }}
{% if tls_custom_ca | bool %}
    - CA_CERT=/opt/onprem-ca.crt
  volumes:
    - {{ bimdata_docker_volume_path }}/ca.crt:/opt/onprem-ca.crt:ro
{% endif %}
  restart: unless-stopped
{% if docker_use_extra_hosts | bool %}
  extra_hosts: {{ docker_extra_hosts | to_yaml }}
{% endif %}

workers-merge:
  image: {{ docker_workers_merge_image }}:{{ docker_workers_merge_tag }}
  deploy:
    replicas: {{ workers_merge_instance }}
    resources:
      limits:
        cpus: "{{ workers_merge_cpu }}"
        memory: "{{ workers_merge_ram }}"
  environment:
    - WORKER_SCRIPT=workers.merge
    - RABBITMQ_HOST={{ rabbitmq_host }}
    - RABBITMQ_PORT={{ rabbitmq_port }}
    - RABBITMQ_USER={{ rabbitmq_user }}
    - RABBITMQ_PASSWORD={{ rabbitmq_password }}
    - API_URL={{ urls['api'] }}
    - ENV={{ app_env }}
    - MASTER_TOKEN={{ master_token }}
    - CPU_ALLOCATED={{ workers_merge_cpu }}
    - TIMEOUT={{ workers_merge_task_timeout }}
{% if tls_custom_ca | bool %}
    - CA_CERT=/opt/onprem-ca.crt
  volumes:
    - {{ bimdata_docker_volume_path }}/ca.crt:/opt/onprem-ca.crt:ro
{% endif %}
  restart: unless-stopped
{% if docker_use_extra_hosts | bool %}
  extra_hosts: {{ docker_extra_hosts | to_yaml }}
{% endif %}

workers-xkt:
  image: {{ docker_workers_xkt_image }}:{{ docker_workers_xkt_tag }}
  deploy:
    replicas: {{ workers_xkt_instance }}
    resources:
      limits:
        cpus: "{{ workers_xkt_cpu }}"
        memory: "{{ workers_xkt_ram }}"
  environment:
    - RABBITMQ_HOST={{ rabbitmq_host }}
    - RABBITMQ_PORT={{ rabbitmq_port }}
    - RABBITMQ_USER={{ rabbitmq_user }}
    - RABBITMQ_PASSWORD={{ rabbitmq_password }}
    - API_URL={{ urls['api'] }}
    - ENV={{ app_env }}
    - QUEUE=xkt
    - TIMEOUT={{ workers_xkt_task_timeout }}
    - MASTER_TOKEN={{ master_token }}
{% if tls_custom_ca | bool %}
    - CA_CERT=/opt/onprem-ca.crt
  volumes:
    - {{ bimdata_docker_volume_path }}/ca.crt:/opt/onprem-ca.crt:ro
{% endif %}
  restart: unless-stopped
{% if docker_use_extra_hosts | bool %}
  extra_hosts: {{ docker_extra_hosts | to_yaml }}
{% endif %}

workers-xkt-v10:
  image: {{ docker_workers_xkt_v10_image }}:{{ docker_workers_xkt_v10_tag }}
  deploy:
    replicas: {{ workers_xkt_v10_instance }}
    resources:
      limits:
        cpus: "{{ workers_xkt_v10_cpu }}"
        memory: "{{ workers_xkt_v10_ram }}"
  environment:
    - RABBITMQ_HOST={{ rabbitmq_host }}
    - RABBITMQ_PORT={{ rabbitmq_port }}
    - RABBITMQ_USER={{ rabbitmq_user }}
    - RABBITMQ_PASSWORD={{ rabbitmq_password }}
    - API_URL={{ urls['api'] }}
    - ENV={{ app_env }}
    - QUEUE=xktv10
    - TIMEOUT={{ workers_xkt_v10_task_timeout }}
    - MASTER_TOKEN={{ master_token }}
{% if tls_custom_ca | bool %}
    - CA_CERT=/opt/onprem-ca.crt
  volumes:
    - {{ bimdata_docker_volume_path }}/ca.crt:/opt/onprem-ca.crt:ro
{% endif %}
  restart: unless-stopped
{% if docker_use_extra_hosts | bool %}
  extra_hosts: {{ docker_extra_hosts | to_yaml }}
{% endif %}

workers-preview-3d:
  image: {{ docker_workers_preview_image }}:{{ docker_workers_preview_tag }}
  deploy:
    replicas: {{ workers_preview_instance }}
    resources:
      limits:
        cpus: "{{ workers_preview_cpu }}"
        memory: "{{ workers_preview_ram }}"
  environment:
    - ENV={{ app_env }}
    - RABBITMQ_HOST={{ rabbitmq_host }}
    - RABBITMQ_PORT={{ rabbitmq_port }}
    - RABBITMQ_USER={{ rabbitmq_user }}
    - RABBITMQ_PASSWORD={{ rabbitmq_password }}
    - QUEUE=viewer_360
    - API_URL={{ urls['api'] }}
    - MASTER_TOKEN={{ master_token }}
    - TIMEOUT={{ workers_preview_task_timeout }}
{% if tls_custom_ca | bool %}
    - CA_CERT=/opt/onprem-ca.crt
  volumes:
    - {{ bimdata_docker_volume_path }}/ca.crt:/opt/onprem-ca.crt:ro
{% endif %}
  restart: unless-stopped
{% if docker_use_extra_hosts | bool %}
  extra_hosts: {{ docker_extra_hosts | to_yaml }}
{% endif %}

workers-preview-2d:
  image: {{ docker_workers_preview_2d_image }}:{{ docker_workers_preview_2d_tag }}
  deploy:
    replicas: {{ workers_preview_2d_instance }}
    resources:
      limits:
        cpus: "{{ workers_preview_2d_cpu }}"
        memory: "{{ workers_preview_2d_ram }}"
  environment:
    - RABBITMQ_HOST={{ rabbitmq_host }}
    - RABBITMQ_PORT={{ rabbitmq_port }}
    - RABBITMQ_USER={{ rabbitmq_user }}
    - RABBITMQ_PASSWORD={{ rabbitmq_password }}
    - API_URL={{ urls['api'] }}
    - ENV={{ app_env }}
    - MASTER_TOKEN={{ master_token }}
    - TIMEOUT={{ workers_preview_2d_task_timeout }}
{% if tls_custom_ca | bool %}
    - CA_CERT=/opt/onprem-ca.crt
  volumes:
    - {{ bimdata_docker_volume_path }}/ca.crt:/opt/onprem-ca.crt:ro
{% endif %}
  restart: unless-stopped
{% if docker_use_extra_hosts | bool %}
  extra_hosts: {{ docker_extra_hosts | to_yaml }}
{% endif %}

workers-preview-pdf:
  image: {{ docker_workers_preview_pdf_image }}:{{ docker_workers_preview_pdf_tag }}
  deploy:
    replicas: {{ workers_preview_pdf_instance }}
    resources:
      limits:
        cpus: "{{ workers_preview_pdf_cpu }}"
        memory: "{{ workers_preview_pdf_ram }}"
  environment:
    - RABBITMQ_HOST={{ rabbitmq_host }}
    - RABBITMQ_PORT={{ rabbitmq_port }}
    - RABBITMQ_USER={{ rabbitmq_user }}
    - RABBITMQ_PASSWORD={{ rabbitmq_password }}
    - API_URL={{ urls['api'] }}
    - ENV={{ app_env }}
    - MASTER_TOKEN={{ master_token }}
    - TIMEOUT={{ workers_preview_pdf_task_timeout }}
{% if tls_custom_ca | bool %}
    - CA_CERT=/opt/onprem-ca.crt
  volumes:
    - {{ bimdata_docker_volume_path }}/ca.crt:/opt/onprem-ca.crt:ro
{% endif %}
  restart: unless-stopped
{% if docker_use_extra_hosts | bool %}
  extra_hosts: {{ docker_extra_hosts | to_yaml }}
{% endif %}

workers-preview-office:
  image: {{ docker_workers_preview_office_image }}:{{ docker_workers_preview_office_tag }}
  deploy:
    replicas: {{ workers_preview_office_instance }}
    resources:
      limits:
        cpus: "{{ workers_preview_office_cpu }}"
        memory: "{{ workers_preview_office_ram }}"
  environment:
    - RABBITMQ_HOST={{ rabbitmq_host }}
    - RABBITMQ_PORT={{ rabbitmq_port }}
    - RABBITMQ_USER={{ rabbitmq_user }}
    - RABBITMQ_PASSWORD={{ rabbitmq_password }}
    - API_URL={{ urls['api'] }}
    - ENV={{ app_env }}
    - MASTER_TOKEN={{ master_token }}
    - TIMEOUT={{ workers_preview_office_task_timeout }}
{% if tls_custom_ca | bool %}
    - CA_CERT=/opt/onprem-ca.crt
  volumes:
    - {{ bimdata_docker_volume_path }}/ca.crt:/opt/onprem-ca.crt:ro
{% endif %}
  restart: unless-stopped
{% if docker_use_extra_hosts | bool %}
  extra_hosts: {{ docker_extra_hosts | to_yaml }}
{% endif %}

workers-dwg-properties:
  image: {{ docker_workers_dwg_image }}:{{ docker_workers_dwg_tag }}
  deploy:
    replicas: {{ workers_dwg_properties_instance }}
    resources:
      limits:
        cpus: "{{ workers_dwg_properties_cpu }}"
        memory: "{{ workers_dwg_properties_ram }}"
  environment:
    - RABBITMQ_HOST={{ rabbitmq_host }}
    - RABBITMQ_PORT={{ rabbitmq_port }}
    - RABBITMQ_USER={{ rabbitmq_user }}
    - RABBITMQ_PASSWORD={{ rabbitmq_password }}
    - API_URL={{ urls['api'] }}
    - ENV={{ app_env }}
    - MASTER_TOKEN={{ master_token }}
    - WORKER_NAME=properties
    - TIMEOUT={{ workers_dwg_properties_task_timeout }}
{% if tls_custom_ca | bool %}
    - CA_CERT=/opt/onprem-ca.crt
  volumes:
    - {{ bimdata_docker_volume_path }}/ca.crt:/opt/onprem-ca.crt:ro
{% endif %}
  restart: unless-stopped
{% if docker_use_extra_hosts | bool %}
  extra_hosts: {{ docker_extra_hosts | to_yaml }}
{% endif %}

workers-dwg-geometries:
  image: {{ docker_workers_dwg_image }}:{{ docker_workers_dwg_tag }}
  deploy:
    replicas: {{ workers_dwg_geometries_instance }}
    resources:
      limits:
        cpus: "{{ workers_dwg_geometries_cpu }}"
        memory: "{{ workers_dwg_geometries_ram }}"
  environment:
    - RABBITMQ_HOST={{ rabbitmq_host }}
    - RABBITMQ_PORT={{ rabbitmq_port }}
    - RABBITMQ_USER={{ rabbitmq_user }}
    - RABBITMQ_PASSWORD={{ rabbitmq_password }}
    - API_URL={{ urls['api'] }}
    - ENV={{ app_env }}
    - MASTER_TOKEN={{ master_token }}
    - WORKER_NAME=geometries
    - TIMEOUT={{ workers_dwg_geometries_task_timeout }}
{% if tls_custom_ca | bool %}
    - CA_CERT=/opt/onprem-ca.crt
  volumes:
    - {{ bimdata_docker_volume_path }}/ca.crt:/opt/onprem-ca.crt:ro
{% endif %}
  restart: unless-stopped
{% if docker_use_extra_hosts | bool %}
  extra_hosts: {{ docker_extra_hosts | to_yaml }}
{% endif %}

workers-pointcloud:
  image: {{ docker_workers_pointcloud_image }}:{{ docker_workers_pointcloud_tag }}
  deploy:
    replicas: {{ workers_pointcloud_instance }}
    resources:
      limits:
        cpus: "{{ workers_pointcloud_cpu }}"
        memory: "{{ workers_pointcloud_ram }}"
  environment:
    - RABBITMQ_HOST={{ rabbitmq_host }}
    - RABBITMQ_PORT={{ rabbitmq_port }}
    - RABBITMQ_USER={{ rabbitmq_user }}
    - RABBITMQ_PASSWORD={{ rabbitmq_password }}
    - API_URL={{ urls['api'] }}
    - ENV={{ app_env }}
    - MASTER_TOKEN={{ master_token }}
    - CPU_ALLOCATED={{ workers_pointcloud_cpu }}
    - TIMEOUT={{ workers_pointcloud_task_timeout }}
{% if tls_custom_ca | bool %}
    - CA_CERT=/opt/onprem-ca.crt
  volumes:
    - {{ bimdata_docker_volume_path }}/ca.crt:/opt/onprem-ca.crt:ro
{% endif %}
  restart: unless-stopped
{% if docker_use_extra_hosts | bool %}
  extra_hosts: {{ docker_extra_hosts | to_yaml }}
{% endif %}

workers-b2d:
  image: {{ docker_workers_b2d_image }}:{{ docker_workers_b2d_tag }}
  deploy:
    replicas: {{ workers_b2d_instance }}
    resources:
      limits:
        cpus: "{{ workers_b2d_cpu }}"
        memory: "{{ workers_b2d_ram }}"
  environment:
    - RABBITMQ_HOST={{ rabbitmq_host }}
    - RABBITMQ_PORT={{ rabbitmq_port }}
    - RABBITMQ_USER={{ rabbitmq_user }}
    - RABBITMQ_PASSWORD={{ rabbitmq_password }}
    - API_URL={{ urls['api'] }}
    - ENV={{ app_env }}
    - MASTER_TOKEN={{ master_token }}
    - TIMEOUT={{ workers_b2d_task_timeout }}
{% if tls_custom_ca | bool %}
    - CA_CERT=/opt/onprem-ca.crt
  volumes:
    - {{ bimdata_docker_volume_path }}/ca.crt:/opt/onprem-ca.crt:ro
{% endif %}
  restart: unless-stopped
{% if docker_use_extra_hosts | bool %}
  extra_hosts: {{ docker_extra_hosts | to_yaml }}
{% endif %}

workers-elevation:
  image: {{ docker_workers_elevation_image }}:{{ docker_workers_elevation_tag }}
  deploy:
    replicas: {{ workers_elevation_instance }}
    resources:
      limits:
        cpus: "{{ workers_elevation_cpu }}"
        memory: "{{ workers_elevation_ram }}"
  environment:
    - RABBITMQ_HOST={{ rabbitmq_host }}
    - RABBITMQ_PORT={{ rabbitmq_port }}
    - RABBITMQ_USER={{ rabbitmq_user }}
    - RABBITMQ_PASSWORD={{ rabbitmq_password }}
    - API_URL={{ urls['api'] }}
    - ENV={{ app_env }}
    - MASTER_TOKEN={{ master_token }}
    - TIMEOUT={{ workers_elevation_task_timeout }}
{% if tls_custom_ca | bool %}
    - CA_CERT=/opt/onprem-ca.crt
  volumes:
    - {{ bimdata_docker_volume_path }}/ca.crt:/opt/onprem-ca.crt:ro
{% endif %}
  restart: unless-stopped
{% if docker_use_extra_hosts | bool %}
  extra_hosts: {{ docker_extra_hosts | to_yaml }}
{% endif %}
