{{ lookup('vars', 'tls_'+item+'_cert') }}
{% if tls_subca_certificates is defined and tls_subca_certificates | length %}
{% for subca in tls_subca_certificates %}
{{ subca }}
{% endfor %}
{% endif %}
