#! /usr/bin/env python

{{ ansible_managed | comment }}

import os
import sys
import subprocess
from time import sleep
from platform_back.settings.environ import env
from django.utils import timezone

CRON_COMMAND = [
    "python",
    "manage.py",
    "runcrons"
]

SLEEP_TIME = 60

def check_env() -> None:
    if 'APP_SMTP_HOST' not in os.environ:
        if 'SMTP_HOST' in os.environ:
            # We define APP_EMAIL_HOST ourself just to avoid a warning each run
            # but it's not necessary
            os.environ['APP_SMTP_HOST'] = env("SMTP_HOST", default="")
            os.environ['APP_SMTP_PORT'] = env("SMTP_PORT", default="")
            os.environ['APP_SMTP_USER'] = env("SMTP_USER", default="")
            os.environ['APP_SMTP_PASS'] = env("SMTP_PASS", default="")
            os.environ['APP_SMTP_USE_TLS'] = env("SMTP_USE_TLS", default="")

        else:
            # No SMTP server define, it make no sense to run a task that send email
            raise ValueError("No SMTP server defined.")

def main() -> int:
    while True:
        try:
            check_env()
            subprocess.run(CRON_COMMAND, check=True)
        except ValueError as e:
            print(e)
            return 1
        except subprocess.CalledProcessError as e:
            print(e)
            return 1

        sleep(SLEEP_TIME)
    return 0

if __name__ == "__main__":
    sys.exit(main())
