# We should use docker_compose_v2_exec when ansible will be updated to 11 or another version that support it
# With this module we could avoid relaying on container name
- name: "Re-index the database to avoid corruption of some indexes on the database {{ _db.name }}"
  community.docker.docker_container_exec:
    container: "{{ db_info.name }}-db"
    command: >-
      reindexdb
      --username={{ lookup('vars', 'db_'+db_info.name+'_user') }}
      --jobs={{ ansible_processor_count }}
      --all

- name: "Make sure to update the COLLATION on the database {{ _db.name }}"
  community.docker.docker_container_exec:
    container: "{{ db_info.name }}-db"
    command: >-
      psql
      --username={{ lookup('vars', 'db_'+db_info.name+'_user') }}
      --command="ALTER DATABASE {{ db_info.name }} REFRESH COLLATION VERSION;"
  when:
    - db_info.current_version is version("15", ">=")

- name: "Run Postgres vaccum analyze on the database {{ db_info.name }} on the database {{ _db.name }}"
  community.docker.docker_container_exec:
    container: "{{ db_info.name }}-db"
    command: >-
      vacuumdb
      --username={{ lookup('vars', 'db_'+db_info.name+'_user') }}
      --jobs={{ ansible_processor_count }}
      --all
      --analyze-in-stages
